<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta
        name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta
        http-equiv="X-UA-Compatible"
        content="ie=edge">
    <title>Ancous</title>
    <link
        rel="icon"
        href="../static/images/favicon.jpg"
        type="image/svg+xml">
    <link
        rel="stylesheet"
        href="../static/css/style.css">
</head>
<body>
<header>
    <div>
        <h1>
            Вопросики к собеседованию на Python
        </h1>

    </div>

</header>
<main>
    <div>
        <form action="http://localhost:5000" method="get">
            <button type="submit">
                Вернуться на главную
            </button>
        </form>
    </div>
    <div>
        <h2>
            Вопрос № <124>
        </h2>
    </div>
    <div>
        <div>
            Вопрос
        </div>
        <form action="http://localhost:5000/answer" method="get">
            <button type="submit">
                Ответ
            </button>
        </form>
    </div>
    <div>
        Дополнение к вопросам
    </div>
</main>
<footer>
    <div>
        <h3>
            Здесь будет информация
        </h3>
    </div>
</footer>
</body>
</html>
