{% extends "base.html" %}
{% block content %}
<main>
    {% if authorization %}
    <div>
        Осталось {{ number_questions_answered }} из 200 случайных вопросов
    </div>
    {% else %}
    <div>
        Чтобы сохранялась история вопросов нужна авторизация
    </div>
    {% endif %}
    <div>
        <button onclick="window.location.href='{{ url_for('main.main') }}'">
            Вернуться на главную
        </button>
    </div>
    <div>
        Вопрос № {{ question_id }}: {{ question }}
    </div>
    {% if sub_question %}
    <div>
        {{ sub_question|safe }}
    </div>
    {% endif %}
    <div>
        {{ answer|safe }}
    </div>
    {% if authorization %}
    <div>
        Оцените свой ответ
    </div>
    <div>
        {% if statistic %}
        <form action="{{ url_for('statistic.statistic') }}" method="post">
            <button type="submit" name="action" value="answered">
                Ответил
            </button>
            <button type="submit" name="action" value="partial">
                Ответил не полностью, надо повторить
            </button>
            <button type="submit" name="action" value="not_answered">
                Не ответил
            </button>
        </form>
        {% elif question_all %}
        <div>
            <button onclick="window.location.href='{{ url_for('question_all.question_all') }}'">
                Назад
            </button>
        </div>
        {% else %}
        <form action="{{ url_for('question.question') }}" method="post">
            <button type="submit" name="action" value="answered">
                Ответил
            </button>
            <button type="submit" name="action" value="partial">
                Ответил не полностью, надо повторить
            </button>
            <button type="submit" name="action" value="not_answered">
                Не ответил
            </button>
        </form>
        {% endif %}
    </div>
    <div>
        <button onclick="window.location.href='{{ url_for('logout.logout') }}'">
            Выйти
        </button>
    </div>
    {% else %}
    <div>
        {% if question_all %}
        <button onclick="window.location.href='{{ url_for('question_all.question_all') }}'">
            Назад
        </button>
        {% else %}
        <button onclick="window.location.href='{{ url_for('question.question') }}'">
            Следующий вопрос
        </button>
        {% endif %}
    </div>
    <div>
        <button onclick="window.location.href='{{ url_for('login.login') }}'">
            Войти
        </button>
    </div>
    {% endif %}
</main>
{% endblock %}
