<!doctype html>
<html lang="ru">
<head>
    <meta
        charset="UTF-8">
    <meta
        name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta
        http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ancous</title>
    <link
        rel="icon"
        href="../static/images/favicon.jpg"
        type="image/svg+xml">
    <link
        rel="stylesheet"
        href="../static/css/style.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/github.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
</head>
<body>
<header>
    <div>
        <h1>
            Вопросики к собеседованию на Python
        </h1>
    </div>
    {% if authorization %}
    <div>
        Отвечено на n из 200 вопросов
    </div>
    {% else %}
    <div>
        Чтобы сохранялась история вопросов нужна авторизация
    </div>
    {% endif %}
</header>
<main>
    <div>
        <button onclick="window.location.href='/'">
            Вернуться на главную
        </button>
    </div>
    <div>
        Вопрос № {{ question_id }}: {{ question }}.
    </div>
    {% if sub_question %}
    <div>
        {{ sub_question|safe }}
    </div>
    {% endif %}
    <div>
        {{ sub_answer|safe }}
    </div>
    <div>
        Оцените свой ответ
    </div>
    <div>
        <form action="http://localhost:5000/question" method="get">
            <button type="submit">
                Ответил
            </button>
            <button type="submit">
                Ответил не полностью, надо повторить
            </button>
            <button type="submit">
                Не ответил
            </button>
        </form>
    </div>
    {% if authorization %}
    <div>
        <button onclick="window.location.href='/logout'">
            Выйти
        </button>
    </div>
    {% endif %}
</main>
<footer>
    <div>
        <h2>
            Здесь будет информация
        </h2>
    </div>
</footer>
</body>
</html>
