<!doctype html>
<html lang="ru">
<head>
    <meta
        charset="UTF-8">
    <meta
        name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta
        http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ancous</title>
    <script>
        function hideMessage() {
            setTimeout(() => {
                const message = document.querySelector('.flash-message-update');
                if (message) {
                    message.style.display = 'none';
                }
            }, 2000);
        }
        window.onload = function() {
            hideMessage();
        }
    </script>
    <link
        rel="icon"
        href="../static/images/favicon.jpg"
        type="image/svg+xml">
    <link
        rel="stylesheet"
        href="../static/css/style.css">
</head>
<body>
<header>
    <div>
        <h1>
            Вопросики к собеседованию на Python
        </h1>
    </div>
    {% if authorization %}
    <div>
        Отвечено на n из 200 вопросов
    </div>
    {% else %}
    <div>
        Чтобы сохранялась история вопросов нужна авторизация
    </div>
    {% endif %}
</header>
<main>
    <div class="main">
        <button onclick="window.location.href='/question_update'">
            Обновить мою историю вопросов
        </button>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
        {% if category == 'register' %}
        <div class="flash-message-register">
            {{ message }}
        </div>
        {% elif category == 'update' %}
        <div class="flash-message-update" style="display: block;">
            {{ message }}
        </div>
        {% endif %}
        {% endfor %}
        {% endwith %}
    </div>
    <div>
        <button onclick="window.location.href='/question'">
            Погнали к вопросам
        </button>
    </div>
    <div>
        <button onclick="window.location.href='/statistic'">
            Статистика ответов
        </button>
    </div>
    {% if authorization %}
    <div>
        <button onclick="window.location.href='/logout'">
            Выйти
        </button>
    </div>
    {% else %}
    <div>
        <button onclick="window.location.href='/register'">
            Регистрация
        </button>
    </div>
    <div>
        <button onclick="window.location.href='/login'">
            Войти
        </button>
    </div>
    {% endif %}
</main>
<footer>
    <div>
        <h2>
            Здесь будет информация
        </h2>
    </div>
</footer>
</body>
</html>
