{% extends "base.html" %}
{% block content %}
<main>
    {% if authorization %}
    <div class="info-main">
        Осталось {{ number_questions_answered }} из 402 случайных вопросов
    </div>
    {% else %}
    <div class="info-main">
        Чтобы сохранялась история вопросов нужна авторизация
    </div>
    {% endif %}
    <div class="button-container">
        <div class="button-update">
            {% if authorization %}
            <button class="button" onclick="window.location.href='{{ url_for('question_update.question_update') }}'">
                Обновить мою историю вопросов
            </button>
            {% endif %}
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% for category, message in messages %}
            {% if category in ('register', 'login', 'logout', 'update') %}
            <div class="flash-message">
                {{ message }}
            </div>
            {% endif %}
            {% endfor %}
            {% endwith %}
        </div>
        <button class="button" onclick="window.location.href='{{ url_for('question.question') }}'">
            Погнали к вопросам
        </button>
        {% if authorization %}
        <button class="button" onclick="window.location.href='{{ url_for('statistic.statistic') }}'">
            Статистика ответов
        </button>
        <button class="button" onclick="window.location.href='{{ url_for('logout.logout') }}'">
            Выйти
        </button>
        {% else %}
        <button class="button" onclick="window.location.href='{{ url_for('register.register') }}'">
            Регистрация
        </button>
        <button class="button" onclick="window.location.href='{{ url_for('login.login') }}'">
            Войти
        </button>
        {% endif %}
        <button class="button" onclick="window.location.href='{{ url_for('question_all.question_all') }}'">
            Список всех вопросов
        </button>
    </div>
</main>
{% endblock %}
