{% extends "base.html" %}
{% block content %}
<main>
    {% if authorization %}
    <div>
        Осталось {{ number_questions_answered }} из 200 случайных вопросов
    </div>
    {% else %}
    <div>
        Чтобы сохранялась история вопросов нужна авторизация
    </div>
    {% endif %}
    <div>
        <button onclick="window.location.href='{{ url_for('main.main') }}'">
            Вернуться на главную
        </button>
    </div>
    {% if question_id %}
    <div>
        <h2>
            Вопрос №{{ question_id }}
        </h2>
    </div>
    {% endif %}
    {% if message %}
    <div>
        <h2>
            {{ message }}
        </h2>
    </div>
    {% endif %}
    {% if question %}
    <div>
        {{ question }}
    </div>
    {% endif %}
    {% if sub_question %}
    <div>
        {{ sub_question|safe }}
    </div>
    {% endif %}
    <div>
        <button onclick="window.location.href='{{ url_for('answer.answer') }}'">
            Ответ
        </button>
    </div>
    {% if authorization %}
    <div>
        <button onclick="window.location.href='{{ url_for('logout.logout') }}'">
            Выйти
        </button>
    </div>
    {% else %}
    <div>
        <button onclick="window.location.href='{{ url_for('login.login') }}'">
            Войти
        </button>
    </div>
    {% endif %}
</main>
{% endblock %}
