{% extends "base.html" %}
{% block content %}
<main>
    {% if authorization %}
    <div class="info-main">
        Осталось {{ number_questions_answered }} из 200 случайных вопросов
    </div>
    {% else %}
    <div class="info-main">
        Чтобы сохранялась история вопросов нужна авторизация
    </div>
    {% endif %}
    <div class="button-container">
        <button class="button" onclick="window.location.href='{{ url_for('main.main') }}'">
            Вернуться на главную
        </button>
    </div>
    {% if question_id %}
    <h2 class="header-h2">
        Вопрос №{{ question_id }}
    </h2>
    {% endif %}
    {% if message %}
    <h2 class="header-h2">
        {{ message }}
    </h2>
    {% endif %}
    <div class="question">
        {% if question %}
        <p>
            {{ question }}
        </p>
        {% endif %}
        {% if sub_question %}
        {{ sub_question|safe }}
        {% endif %}
    </div>
    <div class="button-container">
        <button class="button button-answer"
                onclick="window.location.href='{{ url_for('answer_id.answer_id', id=question_id) }}'">
            Ответ
        </button>
        {% if authorization %}
        <button class="button" onclick="window.location.href='{{ url_for('logout.logout') }}'">
            Выйти
        </button>
        {% else %}
        <button class="button" onclick="window.location.href='{{ url_for('login.login') }}'">
            Войти
        </button>
    </div>
    {% endif %}
</main>
{% endblock %}
