{% extends "base.html" %}
{% block content %}
<main>
    <div class="button-container">
        <button class="button" onclick="window.location.href='{{ url_for('main.main') }}'">
            Вернуться на главную
        </button>
    </div>
    <div class="question_all">
        {% for res in question_all %}
        <div class="question_one">
            <a href="{{ url_for('answer_id.answer_id', id=res.id) }}">
                {{ res.question }}
            </a>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}
