<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta
        name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta
        http-equiv="X-UA-Compatible"
        content="ie=edge">
    <title>Ancous</title>
    <link
        rel="icon"
        href="../static/images/favicon.jpg"
        type="image/svg+xml">
    <link
        rel="stylesheet"
        href="../static/css/style.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/github.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
</head>
<body>
<header>
    <div>
        <h1>
            Вопросики к собеседованию на Python
        </h1>
    </div>
    {% if authorization %}
    <div>
        Отвечено на n из 200 вопросов
    </div>
    {% else %}
    <div>
        Чтобы сохранялась история вопросов нужна авторизация
    </div>
    {% endif %}
</header>
<main>
    <div>
        <button onclick="window.location.href='/'">
            Вернуться на главную
        </button>
    </div>
    {% if question_id %}
    <div>
        <h2>
            Вопрос №{{ question_id }}
        </h2>
    </div>
    {% endif %}
    {% if message %}
    <div>
        <h2>
            {{ message }}
        </h2>
    </div>
    {% endif %}
    {% if question %}
    <div>
        {{ question }}
    </div>
    {% endif %}
    {% if sub_question %}
    <div>
        {{ sub_question|safe }}
    </div>
    {% endif %}
    <div>
        <button onclick="window.location.href='/answer'">
            Ответ
        </button>
    </div>
    {% if authorization %}
    <div>
        <button onclick="window.location.href='/logout'">
            Выйти
        </button>
    </div>
    {% endif %}
</main>
<footer>
    <div>
        <h3>
            Здесь будет информация
        </h3>
    </div>
</footer>
</body>
</html>
