<!doctype html>
<html lang="ru">
<head>
    <meta
        charset="UTF-8">
    <meta
        name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta
        http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ancous</title>
    <link
        rel="icon"
        href="../static/images/favicon.jpg"
        type="image/svg+xml">
    <link
        rel="stylesheet"
        href="../static/css/style.css">
</head>
<body>
<header>
    <div>
        <h1>
            Вопросики к собеседованию на Python
        </h1>
    </div>
    <div>
        Отвечено на n из 200 вопросов
    </div>
</header>
<main>
    <div>
        <button onclick="window.location.href='{{ url_for('main.main') }}'">
            Вернуться на главную
        </button>
    </div>
    <div>
        <p>
            Вопросы отвеченные
        </p>
        <div>
            {{ data }}
        </div>
        <p>
            Вопросы, которые следует повторить
        </p>
        <div>
            {{ data }}
        </div>
        <p>
            Вопросы, которые надо изучить
        </p>
        <div>
            {{ data }}
        </div>
    </div>
    <div>
        <button onclick="window.location.href='{{ url_for('logout.logout') }}'">
            Выйти
        </button>
    </div>
</main>
<footer>
    <div>
        <h2>
            Здесь будет информация
        </h2>
    </div>
</footer>
</body>
</html>
