{% extends "base.html" %}
{% block content %}
<main>
    {% if authorization %}
    <div class="info-main">
        Осталось {{ number_questions_answered }} из 402 случайных вопросов
    </div>
    {% else %}
    <div class="info-main">
        Чтобы сохранялась история вопросов нужна авторизация
    </div>
    {% endif %}
    <div class="button-container">
        <button class="button" onclick="window.location.href='{{ url_for('main.main') }}'">
            Вернуться на главную
        </button>
    </div>
    <div class="statistic">
        <div class="statistic-block">
            <p class="statistic-status">
                Вопросы отвеченные
            </p>
            {% for res in data[1] %}
            <div class="question_one">
                <a href="{{ url_for('answer_id.answer_id', id=res[0]) }}">
                    {{ res[1] }}
                </a>
            </div>
            {% else %}
            <p class="statistic-not-status">
                --- <br> Пока что вопросов в этой категории у вас нет <br> ---
            </p>
            {% endfor %}
        </div>
        <div class="statistic-block">
            <p class="statistic-status">
                Вопросы, которые следует повторить
            </p>
            {% for res in data[2] %}
            <div class="question_one">
                <a href="{{ url_for('answer_id.answer_id', id=res[0]) }}">
                    {{ res[1] }}
                </a>
            </div>
            {% else %}
            <p class="statistic-not-status">
                --- <br> Пока что вопросов в этой категории у вас нет <br> ---
            </p>
            {% endfor %}
        </div>
        <div class="statistic-block">
            <p class="statistic-status">
                Вопросы, которые надо изучить
            </p>
            {% for res in data[3] %}
            <div class="question_one">
                <a href="{{ url_for('answer_id.answer_id', id=res[0]) }}">
                    {{ res[1] }}
                </a>
            </div>
            {% else %}
            <p class="statistic-not-status">
                --- <br> Пока что вопросов в этой категории у вас нет <br> ---
            </p>
            {% endfor %}
        </div>
    </div>
    <div class="button-container">
        <button class="button" onclick="window.location.href='{{ url_for('logout.logout') }}'">
            Выйти
        </button>
    </div>
</main>
{% endblock %}
