{% extends "base.html" %}
{% block content %}
<main>
    {% if authorization %}
    <div>
        Осталось {{ number_questions_answered }} из 200 случайных вопросов
    </div>
    {% else %}
    <div>
        Чтобы сохранялась история вопросов нужна авторизация
    </div>
    {% endif %}
    <div>
        <button onclick="window.location.href='{{ url_for('main.main') }}'">
            Вернуться на главную
        </button>
    </div>
    <div>
        <p>
            Вопросы отвеченные
        </p>
        {% for res in data[1] %}
        <div>
            <a href="{{ url_for('answer.answer', question_id=res[0]) }}">
                {{ res[1] }}
            </a>
        </div>
        {% else %}
        <div>
            --- Пока что вопросов в этой категории у вас нет ---
        </div>
        {% endfor %}
        <p>
            Вопросы, которые следует повторить
        </p>
        {% for res in data[2] %}
        <div>
            <a href="{{ url_for('answer.answer', question_id=res[0]) }}">
                {{ res[1] }}
            </a>
        </div>
        {% else %}
        <div>
            --- Пока что вопросов в этой категории у вас нет ---
        </div>
        {% endfor %}
        <p>
            Вопросы, которые надо изучить
        </p>
        {% for res in data[3] %}
        <div>
            <a href="{{ url_for('answer.answer', question_id=res[0]) }}">
                {{ res[1] }}
            </a>
        </div>
        {% else %}
        <div>
            --- Пока что вопросов в этой категории у вас нет ---
        </div>
        {% endfor %}
    </div>
    <div>
        <button onclick="window.location.href='{{ url_for('logout.logout') }}'">
            Выйти
        </button>
    </div>
</main>
{% endblock %}
